@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(162.42, 77%, 40%) 0, transparent 55%);
    background-size: contain;
    background-repeat: repeat;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dialog-box {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .active {
    display: block;
  }
  
